{% extends "page--octavia-camouflage-vulk.html.twig" %}

{#
  Override the main content column so it is 12 units at widescreen and above.
  @see system/page.html.twig in the Bulma theme.
#}
{%
  set page = page|merge({
    'content_attributes': create_attribute().addClass([
      'main-content',
      'column',
    ]),
  })
%}

{% set main_section_attributes = create_attribute().addClass('hidden') %}

{% block tiles %}
<div class="find-strength is-dark">
  <div class="columns is-gapless is-reversed">
    <div class="column is-two-fifths">
      <img src="{{ base_path ~ directory }}/skins/vulk/wolvesnmoon.png" alt="{{ 'Two very pretty wolves howling in front of the moon.'|t }}"/>
    </div>
    <div class="column is-three-fifths">
      <div class="slogan-and-intro has-text-centered">
        <img src="{{ base_path ~ directory }}/skins/vulk/find-strength-in-the-pack.png" alt="{{ 'Find strength in the pack.'|t }}"/>
        <p>{{ 'As a design and <a href="/team">development cooperative</a>, teamwork is our creed.<br />
        Partner with us and build the positive experience your users deserve.'|t }}</p>
      </div>
    </div>
  </div>
</div>
<div class="work-together is-dark">
  <p class="subtitle is-size-4 is-size-3-tablet is-uppercase"><a href="/contact">{{ '<strong>Work</strong>&nbsp;Together'|t }}</a></p>
</div>
<div class="columns is-reversed under-work">
  <div class="column is-two-fifths blog has-background-grey-light is-dark has-text-centered">
    <p class="subtitle is-size-4 is-size-3-tablet is-uppercase"><a href="http://blog.vulk.coop/"><strong>Our</strong> Blog</a></p>
  </div>
  <div class="column is-three-fifths contact has-background-white is-light is-uppercase weight-bold">
    <h2><a href="/contact" title="Get in touch" class="title is-size-4 is-size-3-tablet is-uppercase">Contact Us</a></h2>
    <!-- TODO after we upgrade the Microformats module, load this from variables -->
    <div class="vcard">
      <div class="fn org hidden">Vulk</div>
        <p class="adr"><a href="https://duckduckgo.com/?q=+1700+South+Lamar+Blvd+Suite+338%2C+Austin%2C+TX+78704&amp;atb=v274-1&amp;ia=web&amp;iaxm=directions&amp;end=what%3A1700%2520S%2520Lamar%2520Blvd%252C%2520Unit%2520338%252C%2520Austin%252C%2520TX%2520%252078704%252C%2520United%2520States&amp;transport=drive"><span class="fa fa-map fa-fw"></span>
          <span class="street-address">1700 South Lamar Blvd</span> <span class="extended-address">#338</span>,<br> &nbsp; &nbsp; &nbsp;
          <span class="locality">Austin</span>, <span class="region">TX</span> <span class="postal-code">78704</span>
        </a></p>
        <p>
        <span class="phone">
          <span class="tel u-tel"><a href="tel:15127108855"><abbr class="type fa fa-mobile fa-fw" title="voice"></abbr> (512) 710-VULK</a></span>
        </span> &nbsp; &nbsp;
        <a href="mailto:howl@vulk.coop" class="email u-email"><span class="fa fa-envelope fa-fw"></span> howl@vulk.coop</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock tiles %}
