@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-timeline/dist/css/bulma-timeline';
@import '../../node_modules/bulma-helpers/sass/helpers/all';
@import 'menubar';

.content.teaser {
  h2 {
    margin-bottom: 0.5rem
  }
  .column.is-narrow-tablet figure.image {
    margin-left: 0;
    margin-right: 0;
  }
}

.inline {
  display: inline-block;
}

.inline-with-title {
  display: inline-block;
  height: 2.2rem;
  vertical-align: middle;
  &::before {
    content: "/";
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
