@charset "UTF-8";

.column {
  &.is-flex-column {
    display: flex;
    flex-direction: column;
    > * {
      flex: 1;
    }
  }
}

.paragraph {
  margin-bottom: 1.75rem;
}

.navbar-item .is-pulled-left img {
  max-height: 4rem;
}

#block-octavia-branding {
  flex-shrink: initial;
}

.block-system-branding-block > figure {
  min-width: 81px;
  margin-right: 1rem;
}

// Provide a bit more distance between checkboxes and labels.
// See https://gitlab.com/drutopia/octavia/issues/60
// TODO fix for RTL languages
input[type="checkbox"], input[type="radio"] {
    vertical-align: middle;
    margin-right: 0.333rem;
}

.tag.hidden {
  display: none;
}

.comment-indicator {
  position: absolute;
  left: -4rem;
}
