:root {
  --jui-dropdown-bg-color: whitesmoke;
  --jui-dropdown-fg-color: black;
}

// Set variables.
$container-max-width: 1408px;
$body-line-height: 1.6;
$body-font-size: 1.05em;
$card-background-color: hsl(0, 0%, 98%);
$card-content-padding: 1rem;
$footer-background-color: hsl(0, 0%, 95%);

$grey-darkest: #171717;
$grey-darker:  #222;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #AEA79F;
$grey-lighter: #ddd;

$orange:       #800000;
$yellow:       #EFB73E;
$green:        #008000;
$purple:       #600080;
$red:          #ff4d4d;
$blue:         #124d87;
$tag-radius: 0;

$screaming-green : #64ff65;   // links - mobile footer menu
$dark-fern:        #014c01;   // button color
$pastel-green:     #58e059;   // logo color?
$alto:             #dedede;   // Regular text
$bright-green:     #77f63a;   // logo highlight color


@import 'roboto.scss';
$family-sans-serif: "Roboto", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$family-secondary: $family-sans-serif;
$title-strong-weight: 800;

$primary: $green;
$info: $orange;

$title-color: $orange;
$subtitle-color: $grey-darker;
$title-family: $family-secondary;
$title-size: 2.5rem;

@import 'bulma';

// utilities : move to octavia?

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  max-height: inherit;
  overflow: hidden;
}

.flex-gap-2 {
  display: flex;
  flex-flow: row wrap;
  column-gap: 2rem;
  row-gap: .5rem;
}


// Dark Mode

$dark : black;
$light : $grey-lighter;

.menubar {
  ul {
    flex-direction: column;
    align-items: end;
  }
  li {
    font-size: 1rem !important;
    &:first-child {
      margin-top: 0;
    }
    margin-top: .5rem;
    + li::before {
      content: "";
      color: unset;
    }
  }
  a {
    padding: 0;
  }
  @include tablet {
    ul {
      flex-direction: row;
      align-items: flex-start;
      column-gap: 12px;
      justify-content: flex-end;
    }
    li {
      &:first-child {
        margin-top: .5rem;
      }
    }
  }
  .darkmode-toggle {
    margin-top: 11px;
    margin-bottom: 3px;
  }

}

.darkmode-toggle {
  cursor: pointer;
  // override existing menu style
  .menubar li + &::before {
    content: "";
    color: unset;
  }

  .menubar
  .toolbar-horizontal & {
    margin-right: 3rem; // escape the contextual links
  }
  box-sizing: border-box;
  position: relative;
  display: block;
  border: 2px solid;
  border-radius: 100px;
  width: 20px;
  aspect-ratio: 1;

  &::after,
  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    display: block
  }

  &::before {
    border:5px solid;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 0;
    width: 9px;
    height: 18px;
    top: -1px;
    left: -1px
  }

  &::after {
    border: 4px solid;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: 0;
    width: 4px;
    height: 8px;
    right: 4px;
    top: 4px
  }
}

body {

  .navbar {
    background-color: transparent;
  }

  .navbar-dropdown {
    background-color: white;
  }

  .navbar-link {
    padding-right: 1.5em;
    line-height: 1.6;

    &:not(.is-arrowless) {
      padding-right: 1em;
      &::after {
        right: 0;
        margin-top: -0.4em;
      }
    }
  }

  .subtitle,
  .title {
    color: $dark;
  }

  &.dark {
    .navbar-burger {
      color: whitesmoke;
    }
    background-color: $dark;
    color: whitesmoke;

    .ui-widget-overlay {
      background-color: $dark;
    }

    .subtitle,
    .title,
    .label,
    strong,
    h3 {
      color: whitesmoke;
    }

    .label {
      font-size: 1.2rem;
    }

    table {
      background: $grey-darker;
      color: $grey-lighter;
      thead td,
      thead th {
        color: $grey-lighter;
      }
      td,
      th {
        border-color: $grey;
      }
      .dropbutton-toggle {
        button {
          background: none;
        }
      }
    }

    .message {
      &-body {
        color: $grey-lighter;
      }
      &.is-danger .message-body{
        color: $red;
      }
      background: $grey-dark;
    }

    .pagination-previous,
    .pagination-next,
    .pagination-link {
      border: 0;
    }

    a {
      color: whitesmoke;
    }

    .navbar {
      box-shadow: 2px 0 0 #bbbbbb3d;
    }

    .navbar-brand img {
      filter: invert(100%);
    }

    button,
    .button {
      background: $blue;
      color: whitesmoke;
      border: none;
    }

    // Dark mode Forms

    form.node-form, #role-delegation-role-assign-form, #user-form, .webform-submission-form {
      .label {
        font-weight: normal;
      }

      .time-start,
      .time-end {
        margin-right: auto;
      }
      .panel {
        padding: 0;
        box-shadow: none;
        border: $grey-dark 1px solid;
        color: whitesmoke;
        &-heading {
          background-color: $grey-darker;
          color: whitesmoke;
          font-weight: normal;
        }
        &-block {
          h4 {
            color: whitesmoke;
          }
        }
        .panel {
          border-color: transparent;
          .panel-heading {
            background-color: #3333332f;
            font-weight: normal;
          }
        }
      }

      .help {
        color: whitesmoke;
      }

      //ckeditor
      .cke {
        &_chrome {
          border-color: $grey-dark !important;
        }
        &_combo_text,
        &_button_label {
          color: $grey-lighter;
          &:hover {
            color: black;
          }
        }
        &_button_on,
        &_combo_on,
        [aria-expanded="true"] {
          .cke_combo_text,
          .cke_button_label {
            color: black;
          }
        }
        &_button_on {
          color: red;
        }
        &_top,
        &_bottom {
          background-color: black;
          // color: #000;
          .cke_button_icon,
          .cke_button__bold_icon {
            filter: invert(100%);
            &:hover {
              filter:invert(0);
            }
          }
        }
      }

      .vertical-tabs {
        border-color : $grey-dark;
        li {
          background-color: $grey-dark;
          color: $grey-light;
        }
        &__menu-item,
        &__menu  {
          border-color: $grey-dark;
        }
        &__menu-item.is-selected {
          background-color: transparent;
          color: white;
          .vertical-tabs__menu-item-title {
            color: $grey-lighter;
          }
        }
      }
    }
    #inline-entity-form-field_organization-form {
      th {
        color: whitesmoke;
        border-color: $grey;
      }
      .ief-row-entity {
        background-color: $grey-darker;
      }
      .ief-entity-operations {
        display: flex;
        gap: 1rem;
      }
    }

    .select select,
    .textarea,
    .input,
    .ts-control {
      background-color: $grey-darkest;
      border-color: $grey-darkest;
      color: $alto;
    }

    .ts-dropdown {
      background-color: $grey-darker;
      color: whitesmoke;

      .active {
        color: $grey-darkest;
      }
    }

    .chevron path {
      fill: $grey-light;
    }

    #edit-field-organization-wrapper table.ief-entity-table {
      color: whitesmoke;
    }

    .panel-block {
      color: whitesmoke;
    }

    .menubar a:hover {
      color: $screaming-green;
    }

    // Event form address field
    #edit-field-address-wrapper {
      border: #333 1px solid;
      box-shadow: none;
      summary {
        background-color: $grey-darker;
        font-weight: normal;
      }
    }

    .ui-menu-item a {
      color: #124d87;
    }

    .modal-card {
      background-color: #171717;
      color: whitesmoke;
    }

    .modal-card-foot {
      border-top: none;
      background-color: $grey-darkest;
    }

    .modal-card-body {
      background-color: unset;
    }

    /* View Password module modificaitons */
    .eye-open {
      background: url("../../skins/actioninfo/view_password/eye-open-white.svg") no-repeat;
      height: 16px;
      width: 24px;
      background-size: 20px;
    }

    .eye-close {
      background: url("../../skins/actioninfo/view_password/eye-close-white.svg") no-repeat;
      height: 16px;
      width: 24px;
      background-size: 20px;
    }

    .ts-dropdown, .ts-control, .ts-control input {
        color: whitesmoke;
    }

    .form-item-field-source-url-0-uri a :not(.formtip) {
      background-color: #FFF;
      padding: 6px;
      border-radius: 6px;
      color: #124d87
    }
  /* End View Password module modifications */
  } //end .dark

} //end body

// Style tom-select components
// @TODO probably move to tomselect module.

.ts-control {
  width: 32rem;
}

ul {
  list-style: inherit;
  &[class^="facet"] {
    list-style: none;;
  }
}

.section--main {
  padding-top: 0;
  padding-bottom: 6rem;
  min-height: 95vh;
  [class^="column"] {
    > div {
      margin-bottom: 1em;
    }
  }
}
.section.headertabs {
  padding-top: 0;
  padding-bottom: 0;
}


/*
source: https://iamkate.com/code/tree-views/
*/

.category-list {
  li.not-search-result {
    display: none;
  }
  li.search-result {
    display: block;
  }
}

.category-list{
  --spacing : 1.5rem;
  --radius  : 10px;
  > li {
    padding-bottom: 12px;
  }
}

.category-list li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.category-list ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.category-list ul li{
  border-left : 2px solid #ddd;
}

.category-list ul li:last-child{
  border-color : transparent;
}

.category-list ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.category-list summary{
  display : block;
  cursor  : pointer;
}

.category-list summary::marker,
.category-list summary::-webkit-details-marker{
  display : none;
}

.category-list summary:focus{
  outline : none;
}

.category-list summary:focus-visible{
  outline : 1px dotted #000;
}

.category-list li::after,
.category-list summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : #ddd;
}

.category-list summary::before{
  content     : '+';
  z-index     : 1;
  background  : #696;
  color       : #fff;
  line-height : calc(2 * var(--radius) - 2px);
  text-align  : center;
}

.category-list details[open] > summary::before{
  content : '−';
}

.category-with-children-list {
  list-style: none;
}

.category-with-children-list * {
  margin: revert;
  padding: revert;
}

.category-with-children-list * {
  margin: revert;
  padding: revert;
}

.category-with-children-list .form-checkboxes {
  display: inline-block;
}

.app-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;

  &__region {
    @extend .full-width;
    overflow: initial;
    position: fixed;
    bottom: 0;
    z-index: 99;
    background: linear-gradient(to bottom, black 70%, #363636 );
  }

  &__item {
    cursor: pointer;
    display: block;
    padding: 0 5vw;
    svg {
      max-width: 10vw;
    }
    path {
      fill: $screaming-green;
    }
    &:hover {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        //glow effect
        opacity: .3;
        box-shadow: 1.7rem 2rem 5vw 3vw $screaming-green;
        /* in order: x offset, y offset, blur size, spread size, color */
      }
    }
  }
  .menu-level-1 a:hover {
    text-decoration: underline;
  }
}

footer {
  &.footer {
    padding: 0;
  }
  .menu-item--expanded {
   position: relative;

   ul {
     display: none;
     position: absolute;
     bottom: 65px;
     padding: 6px 6px 6px 6px;
   }

   ul.active {
     display: initial;
     min-width: max-content;
     right: 0;
     color: $grey-lighter;
     background-color: $grey-darker;
     border-radius: 6px;
     border: #333 1px solid;
   }

   a {
     color: $screaming-green;
   }
 }
}

.navbar-brand {
  @include mobile {
    justify-content: center;
  }
}

.search-list,
.views-element-container .event.teaser {
  .event-thumbnail {
    margin: 0 1rem 0 0;
    img,
    svg {
      max-width: 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  @include tablet {
    .chevron {
      display: none;
    }
  }
}

.title_image {
  &__wrapper {
    position: relative;;
    .title {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      background: linear-gradient(to bottom, transparent, black);
      height: 30%;
      @include mobile {
        height: 50%;
      }
    }
  }
}

.flag-event-bookmarks,
.flag-organization-bookmark {
  .bookmark-title {
    position: absolute;
    right: 2.5rem;
    width: max-content;
    border-radius: 1rem;
    padding: .2rem 1rem;
    font-size: .7rem;
    text-align: center;
    background-color: $grey-lighter;
    display: none;
    .dark & {
      color: $grey-light;
      background: rgba($grey-darkest, 0.6);
    }
  }
  &:hover {
    .bookmark-title {
      display: block;
    }
  }
  svg {
    float: right;
    path.outline {
      fill: white;
      table & {
        fill: $grey-light;
        stroke: #000;
      }
    }
  }
  .card &,
  .group-right &
  {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 99;
  }
  .teaser & a {
    @include mobile {
      max-width: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center ;
      svg {
        float: none;
      }
    }
  }
  &.action-unflag svg path.outline {
    fill: red;
    stroke: black;
  }
}

.teaser {
  position: relative;
  svg {
    path {
      fill: #63FF65;
    }
  }
}

//event node

.node--type-event {
  &.node--view-mode-full {
    img {
      padding: 2rem;
      margin: auto;
      display: block;
    }
  }
}

.group-header,
.group-left,
.group-middle,
.group-right {
  padding-inline: .5rem;
  > div {
    margin-bottom: 1rem;
  }
  @include mobile {
    width: 100% !important;
    &:not(.group-header) > div {
      border-bottom: 1px solid $grey-lighter;
      padding-bottom: 1rem;
    }
  }
  .label {
    color: $grey;
    font-size: .8rem;
    font-weight: 100;
  }
}

// thanks https://getcssscan.com/css-checkboxes-examples
#views-exposed-form-event-events-listing-list,
#views-exposed-form-event-events-listing-card {
  margin-bottom: 1rem;
  .form-item {
    margin-bottom: 1rem;
  }
  .checkbox-dropdown {
    &::marker {
      font-size: 24px;
    }
  }
  .category-with-children-list {
    @include tablet {
      display: grid;
      grid-template-columns: 50% 50%;
      > :nth-child(even) {
        .category-dropdown {
          // border-left: 1px solid #333;
          padding-left: 10px;
          margin-bottom: 5px;
        }
      }
    }
    @include tablet {
      .category-dropdown,
      .checkbox-dropdown {
        cursor: pointer;
      }
    }
    margin-top: 1rem;
    .control-label {
      font-weight: 200;
    }
    > li  > details:first-child > summary:first-child {
      .label{
        font-size: 1.5rem;
      }
    }

    ul {
      padding-left: 1rem;
      ul {
        padding-left: 2rem;
      }
    }
    :checked + label {
      text-decoration: underline;
    }
  }
  .panel-block {
    padding-top: 0;
  }
}

.radio-wrapper label span {
  border-radius: 50%;
}

.checkbox-wrapper, .radio-wrapper {
  label {
    padding-right: 20px;
    font-weight: 500;
    span {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 15px;
      height: 15px;
      transform-origin: center;
      border: 2px solid $grey;
      vertical-align: middle;
      margin-right: 10px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
      &:before {
        content: "";
        width: 0px;
        height: 2px;
        border-radius: 2px;
        background: #333;
        background: $grey-light;
        position: absolute;
        transform: rotate(45deg);
        transition: width 50ms ease 50ms;
        transform-origin: 0% 0%;
        top: 6px;
        left: 2px;
        .category-with-children-list & {
          top: 8px;
          left: 4px;
        }
      }
      &:after {
        content: "";
        width: 0;
        height: 2px;
        border-radius: 2px;
        background: $grey-light;
        position: absolute;
        transform: rotate(305deg);
        transition: width 50ms ease;
        transform-origin: 0% 0%;
        top: 10px;
        left: 3px;
        .category-with-children-list & {
          top: 12px;
          left: 5px;
        }
      }
    }
    &:hover {
      span {
        border: 2px solid $screaming-green;
        box-shadow: 0 0 10px #64ff65;
      }
    }
  }
  input[type=checkbox], input[type=radio] {
    display: none;

    &:checked{
      & + label {
        span {
          background-color: $grey-darkest;
          transform: scale(1.25);
          &:after {
            width: 10px;
            background: #fff;
            transition: width 150ms ease 100ms;
          }
          &:before {
            width: 5px;
            background: #fff;
            transition: width 150ms ease 100ms;
          }
        }
        &:hover span {
          background-color: #333;
          transform: scale(1.25);
        }
        &:hover span:after {
          width: 10px;
          background: $screaming-green;
          transition: width 150ms ease 100ms;
        }
      }
      &:hover span:before {
        width: 5px;
        background: $screaming-green;
        transition: width 150ms ease 100ms;
      }
    }
  }
}

// Forms

// wrap buttons at top
.field.is-grouped {
  row-gap: 1rem;
  flex-wrap: wrap;
  .button{
    margin-right: .75rem;
  }
}

// regular image width in forms
.form-item {
  .image img {
    width: auto;
  }
}

form.node-form {
  :not(#inline-entity-form-field_organization-form) .panel {
    width: 100%;
  }
  .panel {
    &-block {
      gap: 1rem;
      align-items: flex-start;
      flex-flow: row wrap;
    }
    .panel {
      .panel-heading {
        font-size: .8rem;
        font-weight: 200;
      }

    }
  }
  .smartdate--widget .allday {
    margin: 5px;
  }

  .field {
    margin-bottom: 1rem;
    .form-item {
      margin-bottom: .5rem;
    }
  }

  .form-wrapper:focus-within {
    background-color: inherit;
    border-radius: 5px;
  }
}

// Organization fieldset

.organization-tabs {
  flex: 0 0 100%;
  margin: 1rem 0;
  &_tab {
    padding-inline: 2rem;
    &:hover {
      border-bottom-color: $dark-fern;
    }
  }
}
.organization-panel {
  display: none;
  &.is-active {
    display: block;
  }
}

#edit-field-organization-wrapper {
  fieldset fieldset .panel-heading {
    display: none;
  }
  .draggable a.tabledrag-handle {
    height: 22px;
    width: 30px;
    .handle {
      width: 100%;
      height: 100%;
    }
  }
  .tabledrag-toggle-weight-wrapper,
  .tableresponsive-toggle-columns {
    .tabledrag-toggle-weight {
      background-color: transparent;
      cursor: pointer;
    }
  }
  table.ief-entity-table {
    width: 100%;
    margin-bottom: 0;
    background-color: transparent;
    color: black;
    flex-grow: 5;
  }
}
// bottom buttons when new organization form is conjured
[id^="edit-field-organization-form-"] + [id^="edit-field-organization-form-"]  {
  display: flex;
  gap: 1rem;
}

/* Organization view */

.node--type-organization.node--view-mode-teaser {
  display: flex;
  border-bottom: $grey-dark 1px dashed;
  margin-bottom: 0 !important;
  padding-top: 0;
  position: relative;

  .content {
    margin-bottom: 0;
  }

  // no collision with bookmark
  .title.is-3 {
    width: calc(100% - 46px);
  }

  .organization__image {
    @include tablet {
      aspect-ratio: 6/1;
    }
  }
  @include mobile {
    flex-direction: column;
    .column > div {
      border-bottom: 0;
    }
  }
  .flag-organization-bookmark {
    display: flex;
    justify-content: end;
  }
}

.organization {
  &-search-title {
    @include touch {
      flex-direction: column;
      align-items: start;
      row-gap: 1rem;
    }
    .form-item {
      height: fit-content;
      margin-top: auto;
    }
    input::placeholder {
      color: $grey-light;
    }
  }
  &-image {
    padding: 2rem;
    @include desktop {
      aspect-ratio: 2/1;
      float: left;
      width: 50%;
    }
  }
}

// Address
#edit-field-address-wrapper {
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1),0 0px 0 1px rgba(10,10,10,0.02);
  summary {
    background-color: #ededed;
    font-weight: 700;
    border-radius: 6px 6px 0 0;
    font-size: 1.25em;
    line-height: 1.25;
    padding: 0.75em 1em;
    & + div {
      padding: 8px 12px;
    }
  }
}

.field--name-field-body-paragraph {
  table {
    width: 100%;
    background-color: transparent;
    tr.draggable {
      border-top: 5px solid black;
    }
    .form-wrapper {
      padding-right: 10px;
    }
    .tabledrag-handle .handle {
      width: 30px;
      height: 30px;
    }
  }
  .paragraphs-dropbutton-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
}

/* End organization view */

/* Event search view */

//Search form accordion
.form-accordion-toggle {
  &_hide-link,
  &_show-link {
    display: none;
    cursor: pointer;
  }
  &.closed {
    .form-accordion-toggle_show-link {
      display: block;
    }
  }
  &:not(.closed){
    .form-accordion-toggle_hide-link {
      display: block;
    }
  }
}

[id^=views-exposed-form-event-].collapsed {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

//Category accordion
.category-toggle {
  width: 100%;
  cursor: pointer;
  &::before {
    @extend .button;
  }
  &.closed::before {
    content: '+ SHOW CATEGORIES/SUBCATEGORIES/ISSUES';
  }
  &:not(.closed)::before{
    content: "- HIDE CATEGORIES/SUBCATEGORIES/ISSUES";
  }
}

#category-selector {
  width: 100%;
  border: #333 1px solid;
  border-radius: 6px;
  padding: 0.75em 1em;
  background-color: white;
}

#category-selector ul {
  transition: all .6s linear;
  &.collapsed {
    max-height: 0;
    overflow: hidden;
  }
}

article.event figure {
  margin-left: 0;
  margin-right: 0;
}
/* End event search view */

/** Calendar view styles **/

div[class*="block-views-blockcalendar-block-"] {
  width: 100%;
}

.calendar-view-header-block {
  .block-local-tasks-block {
    margin-bottom: 8px;
    @include mobile {
      li {
        max-width: 90px;
        font-size: .9rem;
        line-height: 1.2;
      }
    }
  }
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  > div:first-child {
    flex: 1 1 auto;
  }

  li {
    height: 100% !important;
    a {
      height: 100% !important;
      padding: 0;
    }
  }
}

.calendar-view-modes {
  @include mobile {
    font-size: .9rem;
  }

  a {
    @include mobile {
      height: 2.3rem;
    }
    &.views-display-link + .views-display-link {
      margin-left: 0;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.calendar-view-header-block .tabs {
  ul { flex: 1 1 auto; }
  li {
    @extend .button;
    white-space: normal;
    &.is-active {
      background: #1a252f !important;
    }
    &:hover{
      background:#1a252f !important;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.fc-button {
  text-transform: capitalize;
}

body.dark {
  .fc {
    .fc-widget-header {
      color: whitesmoke;
    }
  }
  .fc-list-view {
    .fc-widget-header {
      background-color: $dark;
      color: whitesmoke;
    }
  }

  .fc-unthemed .fc-list-item:hover td {
    background-color: $dark;
  }

  .fc table td {
    color: whitesmoke;
  }

  .revision-current {
    background-color: green;
  }

  .fc-event {
    background-color: #63ff65 !important;
  }
}

.fc {
  .fc-list-heading a {
    color: unset;
  }

  .fc-widget-header {
    color: $grey-darker;
  }

  .fc-widget-content {
    color: $grey-darker;
  }

  margin-top: 1rem;
  .dark &-content {
    color: black;
  }
  &-day-header {
    span {
      padding: 2px 4px;
    }
  }
  &-day-header,
  &-axis {
    @include mobile {
      font-size: .8rem;
    }
  }
  &-day-number {
    padding: 5px;
  }
  &-toolbar {
    @include mobile {
      flex-direction: column;
    }
  }
  .fc-unthemed &-divider {
    background: $grey-dark;
    border-color: $grey-dark;
  }
  table {
    th,
    td {
      border-color: $grey-dark;
      text-align: center;
      font-weight: normal;
    }
    td,
    th a {
      color: $grey;
    }
  }
}

.fc-today .fc-day-number {
  color: black;
}

.fc-event {
  background-color: #1E2B37 !important;
}

#block-views-block-calendar-block-1 {
  margin-bottom: 0;
}

/* End calendar view styles */

/* Navbar styles */

.navbar {
  & > .container {
    display: block;
  }
  &.has-shadow {
    box-shadow: none;
  }
}

.navbar-menu {
  margin-right: 1rem !important;
  background-color: unset;
  @media screen and (min-width: 1024px) {
    justify-content: center;
    .menubar {
      padding-left: 200px;
    }
  }
}

/* End navbar styles */

body.dark {
  #views-exposed-form-event-events-listing-card,
  #views-exposed-form-event-events-listing-list {
    background-color: black;

    fieldset, .form-item-field-organization, .form-item-search, .form-item-field-free-or-low-cost, #category-selector {
      background-color: #303030;
    }

    .ts-control, .control input, .control select {
      border-color: grey;
    }

    #category-selector {
      background-color: #303030;
      border-color: grey;
    }
  }
}

#views-exposed-form-event-events-listing-card,
#views-exposed-form-event-events-listing-list {

  border: solid 1px gray;
  border-radius: 16px;
  padding: 24px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: whitesmoke;
  margin-bottom: 1rem;
  justify-content: space-between;
  @extend .flex-gap-2;

  fieldset, .form-item-field-organization, .form-item-search, .form-item-field-free-or-low-cost {
    background-color: white;
    border: 1px solid grey;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
  }
  .ts-wrapper.input-active .ts-control {
     box-shadow: 0 0 0 0.15em rgba(18,77,135,0.25) !important;
  }

  .ts-control, .control input, .control select {
    border-color: grey;
  }

  .control .select.is-multiple {
    width: 100%;
  }

  #edit-field-date-occurrence-wrapper {
    width: 100%;
  }

  #edit-field-date-occurrence-wrapper {
    .fieldset-wrapper {
      width: 100%;
      @extend .flex-gap-2;
      .form-disabled {
        opacity: .4;
      }
    }
  }

  .form-item-preselected-dates,
  .form-item-preselected-dates-occurrence,
  .form-item-field-date-occurrence-max,
  .form-item-field-date-occurrence-min {
    width: 31%;
  }

  .form-item-organization-name,
  .form-item-search,
  .form-item-field-organization,
  .form-item-field-free-or-low-cost,
  #edit-field-free-or-low-cost--wrapper,
  #edit-field-virtual-or-inperson--wrapper {
    width: 48.75%;
    @include tablet {
      width: 48%;
    }
    @media screen and (max-width: 896px), print {
      width: 47.5%;
    }
  }


  .js-form-item {
    margin-top: 0;
  }
  .panel-heading {
    padding-top: 0;
  }
  .form-item-field-virtual-or-inperson {
    width: 30%;
    input {
      max-width: 100%;
    }
  }
  .ts-control,
  .category-with-children-list {
    width: 100%;
  }

  @include mobile {
    gap: .5rem;
    .js-form-item,
    .form-item-field-date-end-value,
    .js-form-item-field-date,
    .form-item-organization-name,
    .form-item-search,
    #edit-field-free-or-low-cost--wrapper,
    #edit-field-virtual-or-inperson--wrapper  {
      width: 100%;
    }
    .form-item {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}


#user-form {
    .form-item-user-picture-0 img {
        max-width: 200px;
        border-radius: 50%;
    }
    .user-name-and-picture {
        display: flex;
        column-gap: 2em;
    }
    #edit-field-full-name-wrapper {
        align-self: center;
    }
    #edit-actions {
        padding-top: 8px;
    }
    #edit-cancel {
        display: none;
    }
}

.user-image img {
    max-width: 200px;
    border-radius: 50%;
}

#edit-account {
    summary::marker {
        content: "";
    }

    summary::before {
      background-image: url("/themes/contrib/octavia_camouflage/skins/actioninfo/arrow.svg");
      filter: invert(15%) sepia(22%) saturate(0%) hue-rotate(138deg) brightness(100%) contrast(88%);
      display: inline-block;
      width: 16px;
      height: 14px;
      background-size: 15px 15px;
      content: "";
      background-repeat: no-repeat;
      transform: rotate(-90deg);
      position: relative;
      right: 5px;
    }

    &[open=""] summary::before {
      transform: rotate(0deg);
    }
}

body.dark #edit-account summary::before {
  filter: invert(96%) sepia(17%) saturate(1994%) hue-rotate(50deg) brightness(101%) contrast(100%);
}

/* Add/Update Event category list form */

.node-event-form,
.node-event-edit-form {

  #issue-filter {
    border-radius: 4px;
    line-height: 1.6;
    border: none;
    &:focus-visible {
      outline: 2px solid whitesmoke;
      border: none;
    }
  }

  .issues-filter-container {
    h4 {
      text-align: center;
      font-size: 20px;
      text-decoration: underline;
    }

    @include touch {
      flex-direction: column;
    }


    #selected-issues {
      padding-bottom: 16px;
    }

    #selected-issues-list {
      padding-bottom: 16px;
    }

    #selected-subcategories {
      padding-top: 16px;
    }

    .ifc-left-column, .ifc-right-column {
      flex: 1 1 auto;
      border: solid 1px gray;
      padding: 16px;
    }

    .ifc-right-column {
      section {
        min-height: 250px;
        width: 100%;
        border: solid 1px grey;
      }

      ul {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
      }
    }

    .issue-name, .subcategory-name {
      &.selected {
        font-weight: bold;
      }
      span {
        background: #124d87;
        color: whitesmoke;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        justify-content: center;
        padding-left: .5em;
        padding-right: .5em;
        text-align: center;
        white-space: nowrap;
      }
    }

    .subcategory-name span{
      background: #87124d;
    }

    .category-list {
      .issue-name, .subcategory-name {
        &.selected {
          span {
            background-color: $grey-light;
            &::after {
              content: "";
            }
          }
        }

        span {
          &::after {
            content: "➜";
            margin-left: 4px;
          }
        }
      }
    }

    #selected-issues-list, #selected-subcategories-list {
      list-style: none;
      .issue-name, .subcategory-name {
        span {
          &::before {
            content: "➜";
            margin-right: 4px;
            transform: rotate(180deg);
            display: inline-block;
         }
        }
      }
    }

    .item-list {
      li.not-search-result {
        display: none;
      }
      li.search-result:not(.selected) {
        display: block;
      }
    }
  }

  .view-issues-in-subcategory .item-list li {
    padding-left: calc(2 * var(--spacing) - var(--radius) - 15px);
    &::after {
      content: none;
    }

    &::before {
      width: calc(var(--spacing) - 2px);
    }
  }

  #field-date-values {
    width: 100%;
  }

  .field--widget-smartdate-default {
    border: #333 1px solid;
    border-radius: 6px;
   }

  .smartdate--widget .fieldset-wrapper {

      .clearfix {
        display: none;
      }

      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: auto auto auto;
      grid-template-areas:
          "item1 item2 item3 item4 item5"
          "item6 item7 item8 item9 item10"
          "item11 item12 item13 item14 item15";
      gap: 16px;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: unset;
        grid-template-areas: unset;
        gap: 16px;

        details {
          grid-row: unset;
          grid-column: unset;
        }
      }
  }

  .field--type-smartdate {

    .form-item.form-item-field-date-0-repeat-end-count, .form-item.form-item-field-date-0-repeat-end-date {
      display: flex;
      margin-top: 2.1em;
      margin-bottom: 0em;
    }

    #edit-field-date-0-repeat-end {
      width: 180px
    }

    .field-suffix {
      margin-top: 6px;
    }

    .field-interval {
      max-width: 180px;
    }

    details {
      grid-row: 3;
      grid-column:1/6;
    }
    details[open] > fieldset {
        display: flex;
    }

    .form-checkboxes {

      input ~ label.option {
        background: none;
        color: unset;
        border: none;
        width: auto;
        font-size: initial;
        margin-right: 8px;
      }

      span {
        margin-bottom: 3px;
      }

    }

    label[for="edit-field-date-0-repeat-end"] {
      padding-left: 0px;
    }

    .form-item-field-date-0-repeat {
      .select:has(select[data-freq]:not([data-freq=""]))::after {
        top: 135%;
        @media screen and (max-width: 768px) {
          top: 40%;
        }
      }
    }

    [data-freq]:not([data-freq=""]) {
      margin-top: 2.1em;
      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }

    .form-item {
      margin: 0;
    }

    .tabledrag-toggle-weight-wrapper {
      display: none;
    }

    .label {
      font-size: 1rem;
    }

    .field-add-more-submit {
      display: none;
    }

    .field-interval--label {
      margin-bottom: .5em;
    }

    .field-multiple-drag {
      display: none;
    }

    .field-interval--label {
      padding-top: 0px;
      margin: 0;
      margin-bottom: .5em;
      text-align: left;
    }

    .duration-wrapper {
      display: flex;
      flex-direction: column;

      .allday-label {
        padding-top: 6px;
        padding-bottom: 6px;
        margin: 0;
        padding-right: 12px;
      }
    }
  }
}

/* End node event form */
.modal-content {
  max-height: calc(80vh - 40px);
  @include mobile {
    max-height: calc(80vh - 80px);
  }
}
.modal .delete {
  background: gray;
  margin-left: 98%;
}


.simple-card {
  .imagespacer {
    background: transparent;
    width: 100%;
  }
  .field_image,
  .imagespacer {
    aspect-ratio: 48/33;
    figure {
      margin-inline: 0;
      margin-top: 0;
    }
  }
}

label.parent-selected span {
  background-color: #777;
}

label.parent-selected:hover span {
  border: 2px solid #777;
  box-shadow: none;
}

#views-exposed-form-organization-page-1, #views-exposed-form-organization-page-2 {
  display: flex;
  gap: 12px;
  justify-content: end;

  #edit-actions {
    align-self: end;
  }
}

.js-modal-trigger {
  cursor: pointer;
}

.ief-edit {
  display: none;
}

.views-display-link {
  @extend .button;
  &.is-active {
    color: white;
    background: #1a252f !important;
  }
  &:hover{
    background:#1a252f !important;
    color: $grey-light;
  }
  &-events_listing_list {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child,
  &-events_listing_card {
    margin-left: 0 !important;
    margin-right: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.event-search {
  header {
    display: flex;
    margin-bottom: 1rem;
    flex-flow: row wrap;
    row-gap: 1rem;
  }
}

/* Events by Orgs Report */

.views-exposed-form  {
  margin-bottom: .5rem;
  .panel {
    box-shadow: none;
    &:not(:first-child) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .panel-heading {
      background-color: unset;
      color: $grey-darker;
      font-size: 1.2rem;
      padding-left: 0;
    }
    .panel-block {
      padding-left: 0;
    }
  }
}

body.dark .panel .panel-heading {
  color: $light;
}

.bef-toggle {
  @extend .button;
  &:focus:not(:active){
    box-shadow: none;
    border-color: $grey-light;
  }
  &:active {
    border-color: $grey-light;
  }
  height: 1.5rem;
  padding: .1rem .5rem .1rem .5rem;
}

body.dark .bef-toggle {
  background-color: #124D87;
  color: $grey-light;
}

/* End events by Orgs Report */

/* Site title section */
#block-octavia-camouflage-page-title {
  margin-left: auto;
  margin-right: auto;
}

#block-octavia-camouflage-branding {
  @include mobile {
    max-width: 170px;;
  }
}

@media (max-width: 768px) {
  #block-octavia-camouflage-page-title h1 {
    font-size: 6vw;
    white-space: nowrap;
  }
}

/* End site title section */


/* Miscellaneous */

.views-exposed-form .control {
    z-index: unset;
}

.card-content span {
  color: $grey-dark;
}

.no-bullets {
  list-style: none;
}

.diff-revisions {
  input[type=checkbox], input[type=radio] {
    display: unset;
  }
}

// override of width: 100% set in octavia or bulma
.image img {
  width: auto;
}

.tabs.is-toggle {
  a {
    border-style: none;
    &.is-active {
      background: #1a252f !important;
    }
    &:hover{
      background:#1a252f !important;
      color: whitesmoke;
    }
  }
}

button.shwpd {
  position: absolute;
  margin-top: 12px;
}

.control {
  z-index: unset !important;
}
/* End miscellaneous */

/* Modal Modifications */

.modal-card {
  max-height: 80%;
  @include desktop {
    width: 1000px;
  }
}

.formtip {
  background-color: #124d87;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  vertical-align: text-top;
  &:hover {
    border: 1px solid #ccc;
    background-color: #124d87;
  }
}

.help {
  font-size: 1rem;
}

.form-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

#no-results-message {
  border: 1px solid #124d87;
  background-color: #171717;
  font-size: 20px;
  border-radius: 6px;

  h3 {
    color: whitesmoke;
  }
}

/* addtocal overrides */

.node .addtocal-container {
  position: unset;
  float: unset;
  margin: unset;
  .addtocal {
    background: $blue;
    color: white;
  }
  .addtocal-menu {
    box-shadow: 5px 5px 10px #64ff65;
  }
}

body.dark .node .addtocal-container {
  .addtocal-links {
    color: black;
  }
}
/* end addtocal overrides */

body.dark #block-savesearch {
  background-color: black;
}

#block-savesearch {
  border: 1px solid grey;
  padding: 24px;
  border-radius: 16px;
  background-color: whitesmoke;
}


body.dark .event-search > div:nth-child(4) {
  background-color: black;
}

.event-search > div:nth-child(4) {
  border: solid 1px grey;
  border-radius: 12px;
  margin-top: 24px;
  padding: 16px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: whitesmoke;
}

body.dark input::placeholder {
  color: whitesmoke;
  opacity: .5;
}

.input::placeholder {
  color: black;
  opacity: .5;
}

.dashboard .table-wrapper {
  overflow-x: scroll;
  max-width: 100%;
}

body.dark .menubar {
  .navbar-dropdown {
    background-color: black;
  }
  .navbar-link{
    color: whitesmoke;
  }
  .navbar-item.has-dropdown:hover .navbar-link {
    color: #64ff65;
  }
}

.menubar {
  .navbar-link {
    padding-top: 0;
    padding-bottom: 0;
    color: #124d87;
  }
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: inherit;
    color: #124d87;
  }
}

.navbar-dropdown {
  display: none;
  border-top: none;

  ul {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.navbar-item.is-hoverable:hover .navbar-dropdown {
  display: block;
}