// Set variables.
$body-line-height: 1.5;
$body-font-size: 1.1em;
$card-background-color: hsl(65, 40%, 98%);
$card-content-padding: 1rem;
$footer-background-color: hsl(65, 40%, 95%);


$grey-darker:  #222;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #AEA79F;
$grey-lighter: #ddd;

$orange:       #E95420;
$yellow:       #EFB73E;
$green:        #8d9440;
$purple:       #772953;
$red:          #DF382C;
$blue:         #17a2b8;
$teal-dark:    #054b81;
$white:        #EEEEEE;

$family-primary: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Georgia", "Times", "Times New Roman", serif;

$primary: $orange;
$info: $purple;

$title-color: $teal-dark;
$subtitle-color: $orange;
$title-family: $family-secondary;
$title-size: 2.5rem;

$navbar-item-color: $teal-dark;

@import 'bulma';

.group-middle {
  background-color: white;
}

.navbar-item {
  font-family: $family-secondary;
}

@import 'overrides';
