// Set variables.
$body-line-height: 1.6;
$body-font-size: 1.05em;
$card-background-color: hsl(0, 0%, 98%);
$card-content-padding: 1rem;
$footer-background-color: hsl(0, 0%, 95%);

$papaya: #E24E42; // r
$mustard: #e9B000; // y
$blush: #E86E80; // r
$aqua: #008F95; // c
$aqua-dark: darken($aqua, 11%);
$shirt: #f4e3b4;
$buttercup: #eaaf01;

$grey-darker: #222;
$grey-dark: #333;
$grey: #777;
$grey-light: #AEA79F;
$grey-lighter: #ddd;

$orange: #e08119;
$yellow: $mustard;
$green: #797B3A;
$purple: #6B5B95;
$red: $papaya;
$blue: #1c5c9c;
$blue-light: #99CCFF;
$tag-radius: 0;

$family-huge_header: "Montserrat Black";
$family-sans-serif: "Montserrat";
$family-secondary: "Montserrat", "KhwanSans Thin", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$title-strong-weight: 800;

$link: $blue;

$primary: $red;

$title-color: $aqua-dark;
$subtitle-color: $grey-dark;
$title-family: $family-secondary;
$title-size: 2.5rem;

@import 'bulma';
@import 'khwan_sans_font';
@import 'montserrat_font';

body {

    @include tablet {
        font-size: 16px;
    }

    @include desktop {
        font-size: 22px;
    }

    //override spacing where blocks need to meet navbar and footer

    .section--main {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-menu .block-dropdown-language {
        display: flex;
        align-items: center;
    }

    .navbar-link:not(.is-arrowless)::after {
        border-color: $aqua;
        font-weight: bold;
    }

    .wp-block-cover {
        .wp-block-columns {
            a.has-text-black {
                color: $aqua;
            }
        }
    }

    .wp-block-button__link:visited {
        color: transparent;
    }

    .node--view-mode-simple-card .image {
        margin: 0;
    }

    .footer {
        margin-top: 6rem;
        background-color: $aqua-dark;
        color: $grey-lighter;
        position: relative;
        z-index: 1;

        &::before {
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden;
            top: 0;
            transform: skewY(1.5deg);
            transform-origin: 100% 0;
        }

        a {
            color: $blue-light;
            font-weight: bold;
            border-radius: 2px;

            &::visited {
                color: $blush;
            }
        }

        .menu-label {
            color: $grey-light;
            font-weight: bold;
        }
    }

    .title {
        color: $title-color;
    }
}

// Downplay the login link
#block-octavia-camouflage-account-menu nav {
    font-size: .75rem;
    margin-top: .75rem;
}

@media (min-width: 40em) {
    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw !important;
        margin-right: -50vw !important;
        max-height: inherit;
        overflow: hidden;
    }
}

// Gutenberg colors @TODO update to our custom colors not these deleted defaults!
// see https://www.drupal.org/docs/8/modules/gutenberg/creating-a-custom-palette-in-a-theme

.has-black-color {
    color: #000000;
}

.has-white-color {
    color: #FFFFFF
}

.has-dark-midnight-blue-color {
    color: #003366;
}

.has-very-dark-orange-color {
    color: #663300;
}

.has-black-background-color {
    background-color: #000000;
}

.has-white-background-color {
    background-color: #FFFFFF
}

.has-dark-midnight-blue-background-color {
    background-color: #003366
}

.has-very-dark-orange-background-color {
    background-color: #663300
}


#block-octavia-camouflage-account-menu nav {
    font-size: .75rem;
    margin-top: .75rem;
}
