@import 'bulma';

summary {
  list-style-type: none;
}

details summary .dropdown-icon {
  background-image: url('../../skins/lwcjustice/caret-forward-outline.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 1em;
  width: 1em;
  position: relative;
  top: 2px;
}

details[open] summary .dropdown-icon {
  background-image: url('../../skins/lwcjustice/caret-down-outline.svg');
}

nav .book-menu ul {
  list-style-type: disc;
  list-style-position: inside;
  li {
    margin-bottom: 1em;
  }
}

// Styles for Slide paragraph that kinda need to get into Octavia.
.has-background-image {
  // Relative positioning on the containing section is needed for the
  // absolutely positioned picture element to respect the container's sizes.
  position: relative;
  overflow: hidden;
  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    figure {
      width: 100%;
      height: 100%;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .hero-body {
    z-index: 2;
  }
}
