// Set variables.
$body-line-height: 1.6;
$body-font-size: 1.08em;
$card-content-padding: 1rem;

$black: #000;
$grey-darker:  #222;
$grey-dark:    #333;
$grey:         #4C6F7E;
$grey-light:   #A2AEBC;
$grey-lighter: #EDEEEE;
$near-white:   #F9F9F9;
$white:        #fff;

$orange:       #fe840e;
$yellow:       #ffd662;
$green:        #92b558;
$red:          #9e1030;
$blue:         #003666;
$teal:         #399FB9;
$near-teal:    #50a9aa;
$teal-dark:    #3ba0ba;
$teal-darker:  #1e7678;
// $white: hsl(0, 0%, 100%);

$family-primary: Montserrat, 'KhwanSans Thin', Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$primary: $teal;
$info: $blue;

$title-color: $black;
$subtitle-color: $grey-darker;
$title-family: $family-primary;
$title-size: 2.5rem;
$title-strong-weight: 800;

$footer-background-color: $white;
$menu-label-color: $grey-lighter;
$menu-label-font-size: 0.8em;

$navbar-breakpoint: 600px; // Slightly smaller than tablet breakpoint, which isn't loaded here.
$navbar-height: 6.2rem;
$navbar-background-color: transparent;
$navbar-item-color: $grey-lighter;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $teal;
$navbar-dropdown-arrow: $white;
$navbar-dropdown-background-color: $black;
$navbar-divider-background-color: $grey-lighter;
$navbar-dropdown-border-top: inherit;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background-color: $blue;
$navbar-dropdown-item-active-background-color: $blue;
$navbar-dropdown-item-active-color: $white;

$desktop: 1025px;
$tablet: 768px;

$footer-padding: 1rem 1.5rem 0;

@import 'bulma';

// Layout
// Have first sidebar appear first on desktop, second sidebar after content on desktop.
.sidebar-first.column {
  order: 1;
}
.main-content.column {
  order: 2;
}
.sidebar-second.column {
  order: 3;
}
@include from($desktop) {
  .is-reversed-desktop .columns {
    flex-direction: row-reverse;
  }
}
.columns.is-reversed {
  flex-direction: row-reverse;
}

// Not where or how but get our links colored correctly.
a,
.title a,
a.title,
.subtitle a,
a.subtitle,
.tabs a,
.tabs li.is-active a {
  color: $teal;
  &:hover {
    color: $link-hover;
  }
  &:visited {
    color: $teal-darker;
  }
}


// Make it easy to be light or dark.
.is-dark {
  color: $white;
  .title {
    color: $white;
  }
  .subtitle {
    color: findLightColor($subtitle-color);
  }
  label {
    color: findLightColor($label-color);
  }
  a,
  .tabs a,
  .tabs li.is-active a {
    color: findLightColor($primary);
  }
  a:hover {
    color: findLightColor($link-hover);
  }
  a:visited {
    color: findLightColor($teal-darker);
  }
}

// Here we just set things back to what they were; really only needed when we have light sections within dark sections.
.is-light {
  color: $black;
  .title {
    color: $title-color;
  }
  .subtitle {
    color: $subtitle-color;
  }
  label {
    color: $label-color;
  }
  a,
  .title a,
  a.title,
  .subtitle a,
  a.subtitle,
  .tabs a,
  .tabs li.is-active a {
    color: $teal;
    &:hover {
      color: $link-hover;
    }
    &:visited {
      color: $teal-darker;
    }
  }
}

@import 'montserrat_font';

// Shared overrides.
@import 'overrides';

// Style

.weight-normal {
  font-weight: normal;
}
.weight-bold {
  font-weight: bold;
}

// Final overrides custom to this theme.

.navbar-dropdown {
  top: 90% !important;
}

.navbar-menu {
  box-shadow: none !important;
  a {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: $navbar-item-color;
    &:hover {
      color: $navbar-item-hover-color;
      background-color: $navbar-item-hover-background-color;
    }
    &.is-active {
      color: $navbar-item-active-color;
      background-color: inherit;
      font-weight: bold;
    }
  }
  li {
    display: flex;
    align-items: center;
    width: 6rem;
  }
  // Re-show our menu if the button is pressed, but keep it horizontal.
  &.is-active .navbar-menu {
    display: flex;
    justify-content: center;
  }
}

.navbar-item .is-pulled-left img {
  // Let the logo go to full size.
}

.find-strength {
  .column {
    display: flex;
    align-items: center;
  }
  .slogan-and-intro {
    img {
      margin-bottom: 2rem;
    }
    padding-left: 1rem;
    @include from($tablet) {
      padding-top: 7rem;
    }
  }
}

.work-together {
  position: relative;
  background-color: transparent;
  background-image: url("../../skins/vulk/bar-blue.svg");
  height: 16.6rem;
  @include from($tablet) {
    background-image: url("../../skins/vulk/bar-blue-large.svg");
  }
  @include from($desktop) {
    height: 24rem;
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  p {
    top: 50%;
    position: relative;
    @include from($tablet) {
      top: 60%;
    }
    text-align: center;
    color: $white;
    strong {
      color: $white;
    }
  }
}

.under-work {
  margin-bottom: 0 !important;
  margin-top: -7rem;
  .column.blog {
    padding-top: 5.5rem;
    height: 11rem;
    strong {
      color: $white;
    }
  }
  @include from($tablet) {
    max-width: 101.5%;
    margin-top: -5rem;
    .column.contact {
      padding-top: 5rem;
      height: revert;
    }
    .column.blog {
      padding-top: 7rem;
      height: revert;
    }
  }
}

.contact h2,
.footer h2 {
  margin-bottom: 0.4em;
}

.footer .social-media-links-block {
  text-align: center;
  background-color: $near-white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  .social-media-links--platforms.horizontal li {
    padding: .1rem 0;
    // At breakpoints of tablet and larger, give more spacing.
    @include from($tablet) {
      padding: .2rem .35rem;
    }
    span {
      font-size: 36px;
      color: $near-teal;
      @include from($tablet) {
        margin-left: 0.2em;
        margin-right: 0.2em;
      }
    }
  }
}

// Possibly Octavia itself needs this?
// Ensure room for the hamburger menu even with long site names on mobile.
.block-system-branding-block {
  max-width: 90%;
}

.has-text-light a {
  color: $teal;
}
.has-text-light strong {
  color: $white;
}
// Make links and everything fully white.
.has-text-white a,
.has-text-white strong {
  color: $white;
}

/* Vulkons */

@font-face {
  font-family: 'vulkons';
  src: url('../fonts/vulkons.ttf?r6fltg') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Vulkons fa overrides for social media */
[class^="icon-"], [class*=" icon-"],
#block-octavia-camouflage-socialmedialinks .fa {
  font-family: 'vulkons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before,
#block-octavia-camouflage-socialmedialinks .fa-youtube:before {
  content: "\e900";
}
.icon-meetup:before,
#block-octavia-camouflage-socialmedialinks .fa-home:before {
  content: "\e901";
}
.icon-facebook:before,
#block-octavia-camouflage-socialmedialinks .fa-facebook:before {
  content: "\e902";
}
.icon-linkedin:before,
#block-octavia-camouflage-socialmedialinks .fa-linkedin:before {
  content: "\e903";
}
.icon-twitter:before,
#block-octavia-camouflage-socialmedialinks .fa-twitter:before {
  content: "\e904";
}

.icon-email:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-map:before {
  content: "\e907";
}

.dialog-off-canvas-main-canvas {
  background-image: url("../../skins/vulk/bg.png");
  background-size: cover;
}

/* This control the gallery grid on the who are we page */
.people.tile {
  margin: 0;
  margin-bottom: .25rem;
  @include from($desktop) {
    margin-bottom: 0;
  }
  h2 {
    color: $grey;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }
  .more {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .image {
    width: 100%;
    margin: 0;
  }
  .column.text {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
}
@include from($desktop) {
  .is-reversed-desktop .people.tile .column.text {
    padding-left: 0.75rem;
    padding-right: 0.5rem;
  }
}

.people .column {
  padding: 0;
}

section h1.title {
  color: white;
  padding: 20px 10px 0px 20px !important;
}
section #block-contactdescription {
  color: white;
  padding: 10px;
}
.column.contact {
  // This adds 1rem of padding because default is .75rem counteracting -.75rem
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 0.7em;
  @include from($tablet) {
    padding-left: 3.75rem;
    font-size: 0.9em;
  }
  @include from($desktop) {
    padding-left: 6.75rem;
    font-size: 1.2em;
  }
}

.white-bar {
  background-image: url("../../skins/vulk/bar-white.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 8rem;
}

#block-teamsubtext {
  padding: $box-padding;
  @include from($tablet) {
    width: 50%;
  }
}

// We have to include the same image as already exists on the background to show our cloud.
/* Note that the FIRST image listed is shown on TOP of the second. */
.page--view--people .dialog-off-canvas-main-canvas {
  background-image: url(/themes/contrib/octavia_camouflage/skins/vulk/cloud.png),url(/themes/contrib/octavia_camouflage/skins/vulk/bg.png);
  background-repeat: no-repeat, repeat;
  background-position-x: right,0;
  background-position-y: 2rem,0;
  background-size: 56%,auto auto;
}


.contact-wolves {
  background-image: url("../../skins/vulk/contactWolves.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  @include from($tablet) {
    height: 83vh;
  }
  @include from($desktop) {
    height: 80vh;
  }
}

.block-microformats {
  .is-light {
    display: block;
    padding: $box-padding;
    font-weight: bold;
  }
  p {
    text-indent: -1.67rem;
    padding-left: 1.67rem;
    .fa-fw {
      text-indent: 0;
    }
  }
}

.title {
  text-transform: uppercase;
}
h1.title {
  text-transform: inherit;
}

.navbar > .container .navbar-menu, .container > .navbar .navbar-menu {
  margin-left: 0;
  margin-right: 0.75rem;
}

.fa-mobile-phone::before, .fa-mobile::before {
  font-size: 1.6rem;
  text-align: 1rem;
  vertical-align: sub;
}

// Forms

.label {
  font-weight: normal;
}

.form-item {
  margin-bottom: 1rem;
}

.button.is-primary {
  text-transform: uppercase;
}
