// Set variables.
$body-line-height: 1.5;
$body-font-size: 1.1em;
$background: #E6DCD2;
$card-background-color: hsl(65, 40%, 98%);
$card-content-padding: 1rem;
$footer-background-color: hsl(65, 40%, 95%);


$grey-darker:  #2A1B22;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #AEA79F;
$grey-lighter: #ddd;

$orange:       #E95420;
$yellow:       #EFB73E;
$green:        #8d9440;
$purple:       #772953;
$red:          #DF382C;
$blue:         #17a2b8;
$teal-dark:    #054b81;
$white:        #fdfdfd;

$family-primary: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
$family-secondary: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;

$primary: $orange;
$info: $purple;

$title-color: $teal-dark;
$subtitle-color: $orange;
$title-family: $family-secondary;
$title-size: 2.5rem;

$navbar-item-color: $teal-dark;

@import 'bulma';

.group-middle {
  background-color: $white;
}

.navbar-item {
  font-family: $family-secondary;
}

.navbar-brand {
  flex-shrink: revert;
  .navbar-item {
    flex-shrink: revert;
  }
  figure {
    max-height: 36rem;
  }
  // Need to get as specific as silly rule we are overriding.
  .block-system-branding-block > figure {
    min-width: auto;
  }
  .title {
    color: $grey-darker;
  }
}

// Styles for Slide paragraph that kinda need to get into Octavia.
.has-background-image {
  // Relative positioning on the containing section is needed for the
  // absolutely positioned picture element to respect the container's sizes.
  position: relative;
  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    figure {
      width: 100%;
      height: 100%;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .hero-body {
    z-index: 2;
  }
}

@import 'overrides';

.navbar-item .is-pulled-left img {
  max-height: 7.2rem !important;
}
