{%
  set classes = classes ?? [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}

{% if block_panel_style %}
	{% set classes = classes|merge(['panel']) %}
	{%
    set title_classes = title_classes ?? []
  %}
	{%
    set title_classes = title_classes|merge([
      'panel-heading',
    ])
  %}
{% elseif not title_classes %}
	{%
    set title_classes = [
      'subtitle',
      'is-4'
    ]
  %}
{% endif %}
{% set attributes = attributes.addClass(classes) %}
{% set title_attributes = title_attributes.addClass(title_classes) %}

{% set title_attributes = title_attributes.addClass([
  'full-width',
  'has-text-centered',
  'has-mustard-background-color',
  'has-padding-65',
  'is-size-2'
  ]) %}
{% set view_mode = configuration['view_mode'] ?? null %}
{% if view_mode is same as ('columnar') %}
	{% set attributes = attributes.addClass(['is-one-third-desktop', 'is-half-tablet']) %}
{% endif %}

<div class="content">
	<div{{attributes}}>
		{{ title_prefix }}
		{% if label %}
			<h1{{title_attributes}}>{{ label }}</h1>
		{% endif %}
		{{ title_suffix }}
		{% block content %}
			{{ content }}
		{% endblock %}
	</div>
</div>
