{% extends "@bulma/block/block--system-branding-block.html.twig" %}
{% set classes = classes ?? [] %}
{%
  set classes = classes|merge([
    'ml-4'
  ])
%}
{% block content %}
  {% block logo %}
  {% if site_logo %}
    <figure class="is-pulled-left">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    </figure>
  {% endif %}
  {% endblock logo %}
  {% block site_name %}
  {% if site_name %}
    <a class="title is-size-3-desktop is-size-4-touch" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {% endblock site_name %}
{% endblock content %}
