{% extends "@stable9/block/block.html.twig" %}
{% set classes = classes ?? [] %}
{%
  set classes = classes|merge([
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'navbar-item',
  ])
%}
{% set attributes = attributes.addClass(classes) %}
{% block content %}
  {% block logo %}
  {% if site_logo %}
    <figure class="is-pulled-left">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    </figure>
  {% endif %}
  {% endblock logo %}
  {% block site_name %}
  {% if site_name %}
    <a class="title is-size-2-desktop is-size-3-touch" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {% endblock site_name %}
{% endblock content %}
