{% set classes = classes ?? [] %}
{%
  set classes = classes|merge([
    'paragraph',
    'has-background-image',
    'hero',
    'is-primary',
    'is-medium',
  ])
%}
{% set item_classes = item_classes ?? [] %}
{%
  set item_classes = item_classes|merge([
    'button',
    'is-primary',
    'is-medium',
    'is-rounded',
    'is-size-6-touch',
  ])
%}

<section class="{{classes|join(' ')}}">
  {{ content.field_media_image }}
  <div class="hero-body">
    <div class="container is-fluid">
      <div class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile has-text-shadow has-text-centered">
        {{ content.field_text }}
      </div>
      <div class="is-pulled-right">
        {{ content.field_link }}
      </div>
    </div>
  </div>
</section>
