{% extends "page.html.twig" %}

{#
  Override the main content column so it is 12 units at widescreen and above.
  @see system/page.html.twig in the Bulma theme.
#}
{%
  set page = page|merge({
    'content_attributes': create_attribute().addClass([
      'main-content',
      'column',
    ]),
  })
%}

{% block header_and_search %}
<section class="container">
  {# Header hero region + search #}
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        {% if site_slogan %}
          <h2{{ site_slogan_attributes }}>{{ site_slogan }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock header_and_search %}
