{#
/**
 * @file
 * Theme override to navigate books.
 *
 * Presented under nodes that are a part of book outlines.
 *
 * Available variables:
 * - tree: The immediate children of the current node rendered as an unordered
 *   list.
 * - current_depth: Depth of the current node within the book outline. Provided
 *   for context.
 * - prev_url: URL to the previous node.
 * - prev_title: Title of the previous node.
 * - parent_url: URL to the parent node.
 * - parent_title: Title of the parent node. Not printed by default. Provided
 *   as an option.
 * - next_url: URL to the next node.
 * - next_title: Title of the next node.
 * - has_links: Flags TRUE whenever the previous, parent or next data has a
 *   value.
 * - book_id: The book ID of the current outline being viewed. Same as the node
 *   ID containing the entire outline. Provided for context.
 * - book_url: The book/node URL of the current outline being viewed. Provided
 *   as an option. Not used by default.
 * - book_title: The book/node title of the current outline being viewed.
 *
 * @see template_preprocess_book_navigation()
 */
#}
{% if tree or has_links %}
	<nav role="navigation" aria-labelledby="book-label-{{ book_id }}">
		{% if tree %}
			<h2 class="title is-5">{{ 'Child pages of'|t }}
				<i>{{ book_title }}</i>
			</h2>
			{{ tree }}
		{% endif %}
		{% if has_links %}
			<nav class="buttons is-flex is-justify-content-space-evenly" role="navigation" aria-label="pagination">
				{% if prev_url %}
					<a href="{{ prev_url }}" rel="prev" title="{{ 'Go to previous page'|t }}" class="button is-link">
						<b>{{ '‹'|t }}</b>
						{{ 'Prev'|t }}
					</a>
				{% endif %}
				{% if parent_url %}
					<a href="{{ parent_url }}" title="{{ 'Go to parent page'|t }}" class="button is-link">
						{{ 'Up'|t }}
					</a>
				{% endif %}
				{% if next_url %}
					<a href="{{ next_url }}" rel="next" title="{{ 'Go to next page'|t }}" class="button is-link">
						{{ 'Next'|t }}
						<b>{{ '›'|t }}</b>
					</a>
				{% endif %}
			</nav>
		{% endif %}
	</nav>
{% endif %}
