{% extends '@bulma/block/block.html.twig' %}
{# {% set title_attributes = title_attributes.removeClass(['is-uppercase']) %} #}
{% set title_classes = 'title is-3' %}
{# {% set view_mode = configuration['view_mode'] ?? null %} #}
