{% set row_attributes = create_attribute().addClass("column is-12 search-list") %}

{% if title %}
  <h3{{ title_attributes }}>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  <div{{ row_attributes }}>
    {{ row.content }}
  </div>
{% endfor %}