{% extends "@bulma/field/field.html.twig" %}

{% set field_name = element["#field_name"] %}
{% set classes = [field_name, 'mt-3', 'is-flex', 'is-align-items-center'] %}
{% set attributes = attributes.addClass(classes) %}