{% extends "@bulma/field/field.html.twig" %}

{% set field_name = element["#field_name"] %}
{% set classes = [field_name, 'mt-3', 'has-text-weight-semibold'] %}
{% set attributes = attributes.addClass(classes) %}