{% extends "@bulma/field/field.html.twig" %}

{% set field_name = element["#field_name"] %}
{% set classes = [
    field_name,
    'is-flex',
    'is-align-items-center',
    'is-justify-content-center',
] %}
{% set attributes = attributes.addClass(classes) %}