{#
/**
 * @file
 * Default theme implementation for a webform required indicator.
 *
 * Available variables:
 * - label: The required indicator label.
 *
 * @ingroup themeable
 */
#}
 <span class="form-required"></span><span>{{ label }}</span>
 <br/>
 <span class="form-required-on-publish"></span><span>Indicates required on publish field</span>