{#
/**
 * @file
 * Default theme implementation for a theme's inline_entity_form_entity_table form.
 *
 * Available variables:
 * - form: Form elements for the inline_entity_form_entity_table form.
 * - table: The table of referenced entities.
 *
 * @see template_preprocess_inline_entity_form_entity_table()
 *
 * @ingroup themeable
 */
#}
{% if theme_hook_original == "inline_entity_form_entity_table" %}
    <div class="organization-tabs is-flex is-justify-content-space-evenly has-text-grey-light">
        <div class="organization-tabs_tab"><a class="button is-primary" href="edit-field-organization-form-">Find existing organization</a></div>
        {% if user.hasPermission('create organization content') %}
            <div class="organization-tabs_tab"><a class="button is-primary" href="edit-field-organization-actions">Create new organization</a></div>
        {% endif %}
    </div>
{% endif %}
{{ table }}
