{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - content.children: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - content: The field item content.
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{# js for add event button #}
{{ attach_library('octavia_camouflage/actioninfo')}}

<ul{{attributes.addClass(['menu', 'app-menu', 'menu-level-'~items|first.menu_level])}}>
{% for key, item in items %}
    {% if key|first != '#' %}
    {% set menu_item_classes = [
        'menu-item app-menu__item',
        item.is_expanded ? 'menu-item--expanded',
        item.is_collapsed ? 'menu-item--collapsed',
        item.in_active_trail ? 'menu-item--active-trail',
    ] %}

    <li{{item.attributes.addClass(menu_item_classes)}}>
        {% if item.content.children %}
        <div title="{{item.title}}" >
            <span class="visually-hidden">{{item.title}}</span>
            {{ item.icon }}
            {{ item.content|without('children') }}
            {{ item.content.children }}
        </div>
        {% else %}
        <a title="{{item.title}}" href="{{item.url}}">
            <span class="visually-hidden">{{item.title}}</span>
            {{ item.icon }}
            {{ item.content|without('children') }}
        </a>
        {% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>