{# Template based on bulma (commit 56483c2) menu--nav-bulma.html.twig }
{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}


{%
  set attributes = attributes.addClass([
    'is-size-7',
  ])
%}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}    
<nav class="menubar">
  {{ menus.menu_links(items, attributes, 0, link_classes) }}
</nav>
{% macro menu_links(items, attributes, menu_level, link_classes) %}
  {% import _self as menus %}
  {% if items %}
      <ul>
        {% for item in items %}
          {#
            A child template can pass in a set of link_classes, which replace the
            default navbar-item class.
          #}
          {%
          set item_classes = (link_classes ?? [])|merge([
            item.in_active_trail ? 'is-in-active-trail',
          ])
          %}
          {# Bulma supports only a single level of dropdowns. #}
          {% if item.below and menu_level == 0 %}
            <ul>
                <div class="navbar-item has-dropdown is-hoverable">
                {%
                  set item_classes = item_classes|merge([
                    'navbar-link',
                  ])
                %}
          {% endif %}
          <li>
            {{ link(
              item.title,
              item.url,
              item.attributes.addClass(item_classes)
            ) }}
          </li>
          {% if item.below and menu_level == 0 %}
                <div class="navbar-dropdown">
                  {{ menus.menu_links(item.below, attributes, menu_level + 1, link_classes) }}
                </div>
              </div>
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
  {% endif %}
{% endmacro %}
