{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'content',
'teaser',
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
'is-flex',
'is-flex-direction-row',
'mb-0',
'pb-0',
'clearfix',
] %}

{% set info_icon = '<figure><svg width="100" height="100" viewBox="0 0 26.458 26.458" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="a"><path d="M18.512 18.512h62.977v62.977H18.512z"/></clipPath></defs><g clip-path="url(#a)" transform="matrix(.42013 0 0 .42013 -7.778 -7.778)"><path d="M50 81.488C32.609 81.488 18.512 67.39 18.512 50S32.61 18.512 50 18.512 81.488 32.61 81.488 50 67.39 81.488 50 81.488zm3.938-39.359h-7.876c-.722 0-1.312.586-1.312 1.313v23.612c0 .727.59 1.313 1.313 1.313h7.874a1.31 1.31 0 0 0 1.31-1.313V43.441a1.31 1.31 0 0 0-1.31-1.312zm0-10.496h-7.876c-.722 0-1.312.586-1.312 1.312v5.247c0 .726.59 1.312 1.313 1.312h7.874a1.31 1.31 0 0 0 1.31-1.312v-5.247a1.31 1.31 0 0 0-1.31-1.312z"/></g></svg></figure>' %}

{% set eventimage = content.field_image|render|trim ? content.field_image : info_icon %}
<article{{attributes.addClass(classes)}}>
	<div class="event-thumbnail">{{ eventimage|raw }}</div>
	<div class="is-flex-grow-2">
		<h3 class="title is-size-5 mb-2">
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h3>
		{{content.field_organization}}
        {{content.field_date_occurrence}}
	</div>
    <div class="bookmark">
		{{content.flag_event_bookmarks}}
    </div>
</article>
