{% extends '@octavia/layout/page.html.twig' %}

{% if not page.content_attributes %}
  {%
    set page = page|merge({
      'content_attributes': create_attribute().addClass([
        'main-content',
        'column',
        'is-12-widescreen',
      ]),
    })
  %}
{% endif %}

{% if not nav_attributes %}
  {%
    set nav_attributes = create_attribute().addClass([
      'navbar',
      'has-shadow',
      'pb-5'
    ])
  %}
{% endif %}