{% extends "@octavia_camouflage/actioninfo/events-list.html.twig" %}

{% set title = 'Events Search Results' %}
{%
  set title_classes = [
    'subtitle',
    'is-size-4',
    'is-uppercase',
    'has-text-centered',
    'is-marginless',
  ]
%}
{% set title_attributes = create_attribute().addClass(title_classes) %}
