{#
/**
 * @file
 * Theme override for main view template.
 *
 * We override the default because we need to wrap the rows element.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{% set style = view.getStyle().getPluginId() %}
{% set has_view_mode = view.rowPlugin.options['view_mode'] is defined or view.rowPlugin.options['view_modes'] is defined %}
{#
  Only apply to unformatted (default) displays without a row class and with a
  selected view mode.
#}
{% set rows_wrapper_attributes = create_attribute() %}
{% set rows_wrapper_classes = [] %}
{% if (style == 'default' or style == 'row_insert') and has_view_mode %}
  {# Add columns classes to the wrapper. #}
  {%
    set rows_wrapper_classes = [
      'columns',
      'is-multiline',
      'is-centered'
    ]
  %}
{% endif %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header class="calendar-view-header-block">
      {{ drupal_block('local_tasks_block')}}
      <div class='calendar-view-modes'>
        {{ header }}
      </div>
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {% if rows -%}
    <div{{ rows_wrapper_attributes.addClass(rows_wrapper_classes) }}>
      {{ rows }}
    </div>
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
